/* Demo css classes */
html, body{
    height: 100%;
}
:focus{
    outline: none;
}
.slimScroll {
    border: 1px solid #CCC;
    margin-top: 20px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 200px; /* or give percentage value */
    width: 380px;
}
.slimScroll > div{
    padding: 5px;
}

.slimScroll > div + div{
    padding: 0px;
    background-color: #E1E1E1;
}

.slimScroll > div + div > div{
    background-color: #000;
    opacity: 0.5;
}

/* custom stylings */
.scrollBar{
    border-radius: 10px;
}
.wrapper.mac + .scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scrollBar{
    transition: 2s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scrollBar{
    opacity: 0.5;
    transition: none;
}
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
} 