/* Demo css classes */
.slimScroll {
    border: 1px solid #CCC;
    margin-top: 20px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 380px;
}

/* custom stylings */
.wrapper {
    padding: 5px;
}
.scrollBarContainer{
    background-color: #E1E1E1;
}
.scrollBar {
    background-color: #999999;
    border-radius: 10px;
    opacity: 0.5;
}
.wrapper.mac + .scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scrollBar{
    transition: 2s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scrollBar{
    opacity: 0.5;
    transition: none;
}
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
} 