.contentHolder {
    display: inline-block;
    line-height: 15px;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 380px;
    border: 1px solid #CCC;
    margin-top: 20px;
}
.wrapper {
    height: 100%;
    overflow: auto;
    padding-right: 18px;
    width: 100%;
}
.scrollBarContainer{
    background-color: #E1E1E1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 5px;
    cursor: pointer;
}
.scrollBar {
    background-color: #999999;
    border-radius: 10px;
    opacity: 0.5;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
}
.wrapper.mac .scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scrollBar{
    transition: 2s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scrollBar{
    opacity: 0.5;
    transition: none;
}
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
