/* custom stylesheet */
.wrapper.mac + .scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scrollBar{
    transition: 2s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scrollBar{
    opacity: 0.5;
    transition: none;
}
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
} 
/* end of custom stylesheet */

/******************************************************/
/**************** important ***************************/
/******************************************************/

/* slim scroll attached stylesheet */
.contentHolder {
    /* custom css here */
    border: 1px solid #CCC;
    margin-top: 20px;
    /* end of custom css */
    /* slim scroll necessary css properties */
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 380px;
    /* end of slim scroll necessary css properties */
    /* [end] don't override the above properties here */
}
.wrapper {
    /* custom css here */
    padding: 5px;
    /* end of custom css */
    /* slim scroll necessary css properties */
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    right: -18px;
    bottom: 0px;
    padding-right: 8px;
    /* end of slim scroll necessary css properties */
    /* [end] don't override the above properties here */
}
.scrollBarContainer{
    /* custom css here */
    background-color: #E1E1E1;
    /* end of custom css */
    /* slim scroll necessary css properties */
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 5px;
    cursor: pointer;
    /* end of slim scroll necessary css properties */
    /* [end] don't override the above properties here */
}
.scrollBar {
    /* custom css here */
    background-color: #999999;
    /* end of custom css */
    /* slim scroll necessary css properties */
    border-radius: 10px;
    opacity: 0.5;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    /* end of slim scroll necessary css properties */
    /* [end] don't override the above properties here */
}

/* end of slimscroll attached stylesheet */
/* [Note]: I suggest to add this important stylesheet below of all stylesheets in your html file */
